<link rel="stylesheet" href="../styles/lyt.css" />
<div ng-controller="lytCtrl">
	<div class="lyt-wrap">
		<div class="lyt-content">
			<p class="lyt-xx"><span>蜗壳管理系统注册</span></p>
			<div>
				<p>
					<a>免费注册,立即使用</a>
					
				</p>
				<!--<div class="lyt-address">
					<a>*</a>
					<m>公司名称</m>
					<input type="text" id="gongsi" ng-model="gongsi" />
					<d>请输入您公司名称</d>
				</div>
				<div class="lyt-contact">
					<a>*</a>
					<m>联系人</m>
					<input type="text" id="ren" ng-model="ren" />
					<d>请输入您帐号的联系人姓名</d>
				</div>-->
				<div class="lyt-email">
					<a>*</a>
					<m>电子邮箱</m>
					<input type="text" id="email" ng-model="emial" />
					<d>请准确输入您的电子邮箱，以便我们更好的为您服务</d>
				</div>
				<div class="lyt-phone">
					<a>*</a>
					<m>手机号码</m>
					<input type="text" id="phone" ng-model="phone" />
					<d>请输入手机号码以便使用我们的相关短信服务</d>
				</div>
				<div class="lyt-qq">
					<a>*</a>
					<m>用户名</m>
					<input type="text" id="username" ng-model="username"  />
					<d>请输入用户名</d>
				</div>
				<div class="lyt-industry">
					<a>*</a>
					<m>用户密码</m>
					<input type="password" id="psd" ng-model="psd"/>
					<d>请输入密码</d>
				</div>
				<!--<div class="lyt-target">
					<a>*</a>
					<m>确认密码</m>
					<input type="password" id="qrpsd" ng-model="qrpsd" />
					<d>请输入密码</d>
				</div>-->
				<!--<div class="lyt-time">
					<a>*</a>
					<m>上线时间</m>
					<select>
						<option>一周内</option>
						<option>两周内</option>
						<option>一月内</option>
						<option>一年内</option>
					</select>
				</div>-->
				<div class="lyt-service">
					<input type="checkbox" />
					<l>我已阅读并接受</l>
					<a>"服务条款"</a>
				</div>
				<button ng-click="zc()">立即注册</button>
			</div>
		</div>
	</div>		
</div>
