
<div ng-controller="lytdlCtrl">
	<div class="lytdl-wrap">
		<div class="lytdl-contet">
			<!--<left>
				<p>中文第一品牌</p>
				<a>在线企业管理软件服务商</a>
				<img src="../images/lyt-4.jpg" />
			</left>-->
			<right>
				<div class="lytdl-welcome">
					<p><img src="images/lyt-5.jpg" /></p>
					<a>欢迎登录北客</a>
				</div>
				<div class="lytdl-user">
					<p>用户名:</p>
					<input type="text" id="username" ng-model="user"/>
					<a></a>
				</div>
				<div class="lytdl-psd">
					<p>密码:</p>
					<input type="password" id="psd" ng-model="psd" />
					<a></a>
				</div>
				<div class="lytdl-but">
					<button ng-click="dl()">登&nbsp;录</button>
					<button ng-click="zc()">注&nbsp;册</button>
				</div>
			</right>
		</div>
	</div>
</div>