<link rel="stylesheet" type="text/css" href="../styles/lzjl.css"/>
<div ng-controller="lzjlCtrl" class="lBox">
	<header>
		联系记录
	</header>
	<div class="div1">
		<a ng-click="addd()">
			<img src="../images/del.png"/>
		    <p>添加</p>
		</a>
		<!--<a ng-click="deltel()">
			<img src="../images/del1.png"/>
		    <p>删除</p>
		</a>-->
		<div class="ri">
			<input type="text" placeholder="手机号查询" name="" id="" value="" ng-focus="ofocus()" ng-blur="oblur()" ng-model="oPhone" />
			<a ng-click="cha()">
				<img src="../images/cha.png"/>
				<span>查询</span>
			</a>     
		</div>
	</div>
	<main>
		<table border="1" cellspacing="0" cellpadding="1" bordercolor="#d8d7d3">
			<tr height="35" bgcolor="#98ea98">
				<td width="60">
					<input type="checkbox" name="" id="" value=""  ng-model='checkall' />
				</td>
				<td width="129">联系日期</td>
				<td width="258">联系内容</td>
				<td width="129">对应客户</td>
				<td width="129">联系人</td>
				<td width="129">执行人</td>
				<td width="129">移动电话</td>
				<td width="129">操作</td>
			</tr>
			<tr height="35" ng-repeat="item in arr">
				<td width="44">
					<input type="checkbox" name="" id="" value="" ng-checked="iCkeck" ng-click="inetCk($index)" />
				</td>
				<td width="129">{{item.lianxiriqi}}</td>
				<td width="258">{{item.lianxineirong}}</td>
				<td width="129">{{item.duiyingkehu}}</td>
				<td width="129">{{item.lianxiren}}</td>
				<td width="129">{{item.zhixingren}}</td>
				<td width="129">{{item.tel}}</td>
				<td width="129" style="overflow: hidden;">
					<a ng-click="delter(item.id,$index)">
						<img src="../images/del1.png" />
					    <p>删除</p>
					</a>
				</td>
			</tr>
		</table>
	</main>
	<div class="div2">
		<p class="p1">{{pageNow}}</p>
		<div class="page">
			<p ng-click="shang()">上一页</p>
			<p ng-click="next()">下一页</p>
			<p>共:<span style="color: red;">{{tiaoo}}</span>条</p>
		</div>
	</div>
	<div class="cang" ng-show="rise" id="dd">
		<p class="p1">添加联系记录</p>
		<div class="dingwei" ng-click="dell()">x</div>
		<div class="bottom">
			<div class="header">
				<a ng-click="baocunr()">
					<img src="../images/baocun.png" />
					<p>保存</p>
				</a>
			</div>
			<div class="main">
				<div class="divv1">
					<div class="head">客户信息</div>
					<div class="divB">
						<div class="divBL">
							<ul>
								<li>
									<div>
										<p>对应客户</p>
									</div>
									<div>
										<input type="text" name="" id="" value="" ng-model="duiyingkehu" />
									</div>
								</li>
								<li>
									<div>
										<p>联系内容</p>
									</div>
									<div>
										<input type="text" name="" id="" value="" ng-model="user_neirong" />
									</div>
								</li>
								<li>
									<div>
										<p>联系日期</p>
									</div>
									<div>
										<!--<input type="text" name="" id="" value="" ng-model="user_lianxiriqi" />-->
										<select style="float: left;margin-top: 10px;display: block;" ng-model="oninas">
											<option value="">--请选择--</option>
											<option value="{{nians}}" ng-repeat="nians in odatas">{{nians}}年</option>
										</select>
										<select style="float: left;margin-top: 10px;display: block;" ng-model="yues">
											<option value="">--请选择--</option>
											<option value="{{yue}}" ng-repeat="yue in oyeays">{{yue}}月</option>
										</select>
										<select style="float: left;margin-top: 10px;display: block;" ng-model="ris">
											<option value="">--请选择--</option>
											<option value="{{ri}}" ng-repeat="ri in oris">{{ri}}</option>
										</select>
									</div>
								</li>
								<li>
									<div>
										<p>联系人</p>
									</div>
									<div>
										<input type="text" name="" id="" value="" ng-model="user_lianxiren" />
									</div>
								</li>
								<li>
									<div>
										<p>执行人</p>
									</div>
									<div>
										<input type="text" name="" id="" value="" ng-model="zhixingren" />
									</div>
								</li>
								<li>
									<div>
										<p>移动电话</p>
									</div>
									<div><input type="text" name="" id="" value="" ng-model="jobphone" /></div>
								</li>
								<li>
									<div>
										<p>类型</p>
									</div>
									<div>  
										<input type="radio" ng-value="lianxijilu" ng-model="leixing" name="selectState" />联系记录
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>  
	</div>
</div>
