<link rel="stylesheet" href="../styles/mrx.css" />
<div ng-controller="mrxCtrl">
	<div class="m_main">
	<div class="m_main-top">公海客户</div>	
	<div class="m_main_bottom">	
	<div class="m_main_bottom-top">
	<!--<a>
		<img src="../images/m_sc.jpg">
		<span>删除</span>
	</a>-->
	<div class="m_main_bottom-top-left">
		<a>
	<img src="../images/m_pl.jpg">
	<span id="fp">批量分配</span>
	</a>
	<a>
	<img src="../images/m_pl.jpg">
	<span id="dele">删除领取</span>
	</a> 
	</div>
	<div class="m_main_bottom-top-right">
		<select >
			<option value="">客户名称</option>
			<option value="">助记简称</option>
			<option value="">客户编号</option>
			<option value="">客户阶段</option>
		</select>
		<input type="text" value=""/>
		<div class="sousu"> 
			<img src="../images/m_so.jpg">
		   <a>查询</a>
		</div>
	</div>
	</div>	
<table class="m_main_table" border="1" cellpadding="0" cellspacing="0" bordercolor="#d8d7d3">
			<tr height="35px" bgcolor="#98ea98">
				<td width="45">
				<input type="checkbox" ng-model="selectAll" ng-click="all(selectAll)">
				</td>
				<td width="129">名称</td>
				<td width="129">营销阶段</td>
				<td width="129">客户类型</td>
				<td width="129">客户阶段</td>
				<td width="129">标签</td>
				<td width="129">添加时间</td>
				<td width="129">所有人</td>
				<td width="129" color="#fff">操作</td>
			</tr>
			
			<tr height="35px">
				<td width="45"><input type="checkbox" /></td>
				<td width="129"></td>
				<td width="129"></td>
				<td width="129"></td>
				<td width="129"></td>
				<td width="129"></td>
				<td width="129"></td>
				<td width="129"></td>
				<td width="129">删除</td>
			</tr>
			<tr height="35px">
				<td width="45"><input type="checkbox" /></td>
				<td width="129"></td>
				<td width="129"></td>
				<td width="129"></td>
				<td width="129"></td>
				<td width="129"></td>
				<td width="129"></td>
				<td width="129"></td>
				<td width="129"></td>
			</tr>
			<tr height="35px">
				<td width="45"><input type="checkbox" /></td>
				<td width="129"></td>
				<td width="129"></td>
				<td width="129"></td>
				<td width="129"></td>
				<td width="129"></td>
				<td width="129"></td>
				<td width="129"></td>
				<td width="129"></td>
			</tr>
			<tr height="35px">
				<td width="45"><input type="checkbox" /></td>
				<td width="129"></td>
				<td width="129"></td>
				<td width="129"></td>
				<td width="129"></td>
				<td width="129"></td>
				<td width="129"></td>
				<td width="129"></td>
				<td width="129"></td>
			</tr>
			<tr height="35px">
				<td width="45"><input type="checkbox" /></td>
				<td width="129"></td>
				<td width="129"></td>
				<td width="129"></td>
				<td width="129"></td>
				<td width="129"></td>
				<td width="129"></td>
				<td width="129"></td>
				<td width="129"></td>
			</tr>
			<tr height="35px">
				<td width="45"><input type="checkbox" /></td>
				<td width="129"></td>
				<td width="129"></td>
				<td width="129"></td>
				<td width="129"></td>
				<td width="129"></td>
				<td width="129"></td>
				<td width="129"></td>
				<td width="129"></td>
			</tr>
			<tr height="35px">
				<td width="45"><input type="checkbox" /></td>
				<td width="129"></td>
				<td width="129"></td>
				<td width="129"></td>
				<td width="129"></td>
				<td width="129"></td>
				<td width="129"></td>
				<td width="129"></td>
				<td width="129"></td>
			</tr>
			<tr height="35px">
				<td width="45"><input type="checkbox" /></td>
				<td width="129"></td>
				<td width="129"></td>
				<td width="129"></td>
				<td width="129"></td>
				<td width="129"></td>
				<td width="129"></td>
				<td width="129"></td>
				<td width="129"></td>
			</tr>
			<tr height="35px">
				<td width="45"><input type="checkbox" /></td>
				<td width="129"></td>
				<td width="129"></td>
				<td width="129"></td>
				<td width="129"></td>
				<td width="129"></td>
				<td width="129"></td>
				<td width="129"></td>
				<td width="129"></td>
			</tr>
	</table>
	</div>
		<div  class="m_main_footer"> 
		<span>1</span>
		<div class="f"></div>
	</div>	
	</div>
</div>