

<div ng-controller="wxCtrl">	
	
	<div class="wxbox">
		
		<top class="wxtop">基本信息</top>
		
		<header>
			<div class="wxhead">
	
			<div class="one">				
			<div>
				<p>客户编号:&nbsp;</p>
				<input type="text" />	
			</div>	
			
			<div>
			<p>客户名称:&nbsp;</p>
			<input type="text" />	
			</div>
			</div>
			
			
			
			
			
			
		
			<div class="one">				
			<div>
				<p>民&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;族:&nbsp;</p>
				<input type="text" />	
			</div>	
			
			<div>
			<p>籍&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;贯:&nbsp;</p>
			<input type="text" />	
			</div>
			</div>
			
			
			<div class="two">
				
				<div>
		         性&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;别:&nbsp;男&nbsp;&nbsp;&nbsp;<input type="radio" value="0" class="nan" name="a"/>
	                     女&nbsp;&nbsp;<input type="radio" value="1" class="nv" name="a" />
	            </div>         
	                     
	           <div>     
			<p>证件号码:&nbsp;</p>
			<input type="text" />	
			</div>     
			</div>
			
			
			
			
			<div class="fore">
				<div>
		证件名称:&nbsp;<select>			
		<option name="c" value="q">身份证号</option>
		<option name="c" value="w">士兵证</option>
		<option name="c" value="e">港澳台</option>
			
	   </select>
			</div>	
			<div>
				客户阶段:&nbsp;<select>			
		<option name="d" value="q">潜在客户</option>
		<option name="d" value="w">商机客户</option>
		<option name="d" value="e">成交客户</option>
			
		 </div>	
	   </select>
			
		</header>	



<div class="wxconter">
	   
	   <top>联系方式</top>
	   
	   <div class="six">
	   	<div>
	   		<p> 联系电话:&nbsp;</p>	  
	     <input type="text" />
	     </div>
	     
	     	<div>	     		
	 <p> QQ号码:&nbsp;&nbsp;</p>
	  <input type="text" />	  
	  </div>
	  </div>
	  
	 
	 
	 
	 
	   <div class="six">
	   	<div>
	   		<p> 电子邮箱:&nbsp;</p>	  
	     <input type="text" />
	     </div>
	     
	     	<div>	     		
	 <p>  家庭住址:&nbsp;</p>
	  <input type="text" />	  
	  </div>
	  
	  </div>
	   
		</div>





	   </div>
	 
			
			
			
			  	
			
			
			
		
	
	
</div>
