<link rel="stylesheet" type="text/css" href="../styles/yrkcss.css"/>
<div ng-controller="yrkCtrl">
	<div class="yrkbox">
		<div class="yrkheader">
			<div class="yrkheader_top">
				<span>客户管理</span>
			</div>
			<div class="yrkheader_bottom">
				<div class="yrkh_b_l">
					<div class="yrkh_b_l_top">
						<i>预定义查询:</i>
						<div class="yrkh_b_l_top_s">
							<p style="width: 60px;"><input type="radio" name="kehu" id="" ng-click="xuezhe()" ng-checked="bool"/>全部</p>
							<p><input type="radio" name="kehu" id="" ng-click="xuezhek()" />个人客户</p>
							<span class="tu">
									<img src="../images/yrk10.png" alt="添加客户" ng-click="bianxie()" />
									<ed>添加客户</ed>
							</span>
						</div>
					</div>
				</div>
				<div class="yrkh_b_r">
					<div class="yrkh_b_r_m">
						<select id="ss" class="yrkh_b_r_x" ng-model="classifies">
							<option value="1">搜索</option>
							<option value="2">客户阶段</option>
							<option value="3">名称</option>
							<option value="4">营销阶段</option>
							<option value="5">客户类型</option>
							<option value="6">标签</option>
						<select>
						<select id="cs" class="yrkh_b_r_g"></select>
					</div>
					<div class="yrkh_b_r_q">
						<p ng-click="btn()"><span><img src="../images/yrk7.png"/></span>查询</p>
					</div>
					
				</div>
			</div>
		</div>
		
		<div class="yrkfooter">
			<div class="yrkfooter_bottom">
				<div class="yrkfooter_b_s">
					<table border="1" cellspacing="0" cellpadding="1">
						<tr style="background: #93e497;color: #00388b; border: 1px solid #CCEDCF;">
							<th><input type="checkbox" ng-click="checkAll()" ng-model='checkall' /></th>
							<th>操作</th>
							<th>客户阶段</th>
							<th>所在公司</th>
							<th>营销阶段</th>
							<th>客户类型</th>
							<th>姓名</th>
							<th>性别</th>
							<th>电话</th>
							<th>执行人</th>
							<th>QQ</th>
							<th>邮箱</th>
							<th>联系日期</th>
							<th>生日</th>
							<th>职位</th>
							<th>对应客户</th>
							<th>联系内容</th>
							<th>联系人</th>
							<th>标签</th>
						</tr>
						<tr ng-repeat="xh in arr">
							<td>
								<input type="checkbox" ng-checked="iCkeck" ng-click="inetCk()"/></td>
							<td>
								<span class="tu">
								  <img src="../images/yrk9.png" ng-click="xiugai(xh.id)" alt="修改客户" />
								</span>
								
								<span class="tu">
									<img src="../images/yrk11.png" ng-click="gonghai(xh.id, xh)" alt="放入公海" /></span>
							</td>
							<td>{{xh.jieduan}}</td>
							<td>{{xh.suozaigongsi}}</td>
							<td>{{xh.yingxiaojieduan}}</td>
							<td>{{xh.leixing}}</td>
							<td>{{xh.xingming}}</td>
							<td>{{xh.xingbie}}</td>
							<td>{{xh.dianhua}}</td>
							<td>{{xh.zhixingren}}</td>
							<td>{{xh.qq}}</td>
							<td>{{xh.email}}</td>
							<td>{{xh.lianxiriqi}}</td>
							<td>{{xh.shengri}}</td>
							<td>{{xh.zhiwei}}</td>
							<td>{{xh.duiyingkehu}}</td>
							<td>{{xh.lianxineirong}}</td>
							<td>{{xh.lianxiren}}</td>
							<td>{{xh.biaoqian}}</td>
						</tr>
					</table>
				</div>
				<div class="yrkfooter_b_b">
					<div class="div2">
						<p class="p1">{{pageNow}}</p>
						<div class="page">
							<p ng-click="shang()">上一页</p>
							<p ng-click="next()">下一页</p>
							<p>共:<span style="color: red;">{{tiaoo}}</span>条</p>
						</div>
					</div>
				</div>
				
			</div>
		</div>
		
		<!--修改-->
		<div class="yrksmallx" ng-show="bbbb" ng-click="kehu1()">
			<div class="yrktx_j_t">
				<div class="yrktx_j_l">
					<span>修改客户端</span>
				</div>
				<div class="yrktx_j_r">
					<img src="../images/xxx.jpg" ng-click="guan1()"/>
				</div>
			</div>
			<div class="yrksmallx_j_b">
				<div class="yrktx_j_b">
					<p><span>客户阶段：</span><input type="text" ng-model="yrkdg.jieduan" /></p>
					<p><span>所在公司：</span><input type="text" ng-model="yrkdg.suozaigongsi" /></p>
					<p><span>营销阶段：</span><input type="text" ng-model="yrkdg.yingxiaojieduan" /></p>
					<p><span>客户类型：</span><input type="text" ng-model="yrkdg.leixing" /></p>
					<p><span>姓名：</span><input type="text" ng-model="yrkdg.xingming" /></p>
					<p><span>性别：</span><input type="text" ng-model="yrkdg.xingbie" /></p>
					<p><span>电话：</span><input type="text" ng-model="yrkdg.dianhua" /></p>
					<p><span>执行人：</span><input type="text" ng-model="yrkdg.zhixingren" /></p>
					<p><span>QQ：</span><input type="text" ng-model="yrkdg.qq" /></p>
					<p><span>邮箱：</span><input type="text" ng-model="yrkdg.email" /></p>
					<p><span>联系日期：</span><input type="text" ng-model="yrkdg.lianxiriqi" /></p>
					<p><span>生日：</span><input type="text" ng-model="yrkdg.shengri" /></p>
					<p><span>职位：</span><input type="text" ng-model="yrkdg.zhiwei" /></p>
					<p><span>对应客户：</span><input type="text" ng-model="yrkdg.duiyingkehu" /></p>
					<p><span>联系内容：</span><input type="text" ng-model="yrkdg.lianxineirong" /></p>
					<p><span>联系人：</span><input type="text" ng-model="yrkdg.lianxiren" /></p>
					<p><span>日期：</span><input type="text" ng-model="yrkdg.data" /></p>
					<p><span>标签：</span><input type="text" ng-model="yrkdg.biaoqian" /></p>
				</div>
				
			</div>
			<div class="yrktx_j_b_q">
				<button ng-click="queren1()">修改</button>
			</div>
		</div>
		
		
		<!--编写-->
		<div class="yrksmallx" ng-show="rise" ng-click="kehu1()">
			<div class="yrktx_j_t">
				<div class="yrktx_j_l">
					<span>添加客户端</span>
				</div>
				<div class="yrktx_j_r">
					<img src="../images/xxx.jpg" ng-click="dell()"/>
				</div>
			</div>
			<div class="yrksmallx_j_b">
				<div class="yrktx_j_b">
					<p><span>客户阶段：</span><input type="text" ng-model="jieduan" placeholder="请输入目标客户、潜在客户、成交客户.." /></p>
					<p><span>所在公司：</span><input type="text" ng-model="suozaigongsi" /></p>
					<p><span>营销阶段：</span><input type="text" ng-model="yingxiaojieduan" /></p>
					<p><span>客户类型：</span><input type="text" ng-model="leixing" /></p>
					<p><span>姓名：</span><input type="text" ng-model="xingming" /></p>
					<p><span>性别：</span><input type="text" ng-model="xingbie"  id="xingbie"/><d>x</d></p>
					<p><span>电话：</span><input type="text" ng-model="dianhua" id="dianhua" /><d>x</d></p>
					<p><span>执行人：</span><input type="text" ng-model="zhixingren" /></p>
					<p><span>QQ：</span><input type="text" ng-model="qq" id="qq" /><d>x</d></p>
					<p><span>邮箱：</span><input type="text" ng-model="email" id="email" /><d>x</d></p>
					<p><span>联系日期：</span><input type="text" ng-model="lianxiriqi" /></p>
					<p><span>生日：</span><input type="text" ng-model="shengri" /></p>
					<p><span>职位：</span><input type="text" ng-model="zhiwei" /></p>
					<p><span>对应客户：</span><input type="text" ng-model="duiyingkehu" /></p>
					<p><span>联系内容：</span><input type="text" ng-model="lianxineirong" /></p>
					<p><span>联系人：</span><input type="text" ng-model="lianxiren" /></p>
					<p><span>日期：</span><input type="text" ng-model="data" /></p>
					<p><span>标签：</span><input type="text" ng-model="biaoqian" /></p>
				</div>
				
			</div>
			<div class="yrktx_j_b_q">
				<button ng-click="baocunr()">添加</button>
			</div>
		</div>
		
		<!--<div class="cang" ng-show="rise" id="dd">
			<p class="p1">添加联系记录</p>
			<div class="dingwei" ng-click="dell()">x</div>
			<div class="bottom">
				<div class="header">
					<a ng-click="baocunr()">
						<img src="../images/baocun.png" />
						<p>保存</p>
					</a>
				</div>
				<div class="main">
					<div class="divv1">
						<div class="head">客户信息</div>
						<div class="divB">
							<div class="divBL">
								<ul>
									<li>
										<div>
											<p>对应客户</p>
										</div>
										<div>
											<input type="text" name="" id="" value="" ng-model="duiyingkehu" />
										</div>
									</li>
									<li>
										<div>
											<p>联系内容</p>
										</div>
										<div>
											<input type="text" name="" id="" value="" ng-model="user_neirong" />
										</div>
									</li>
									<li>
										<div>
											<p>联系日期</p>
										</div>
										<div>
											<input type="text" name="" id="" value="" ng-model="user_lianxiriqi" />
										</div>
									</li>
									<li>
										<div>
											<p>联系人</p>
										</div>
										<div>
											<input type="text" name="" id="" value="" ng-model="user_lianxiren" />
										</div>
									</li>
									<li>
										<div>
											<p>执行人</p>
										</div>
										<div>
											<input type="text" name="" id="" value="" ng-model="zhixingren" />
										</div>
									</li>
									<li>
										<div>
											<p>移动电话</p>
										</div>
										<div><input type="text" name="" id="" value="" ng-model="jobphone" /></div>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
       </div>-->
		
	</div>	
	<div class="yrks_box">
		<div class="yrks_box_l">
			<img src="../images/yrk13.png"/>
		</div>
		<div class="yrks_box_r">
			<p><span>.</span>搜索说明：</p>
			<p><span>.</span>在客户名称、客户简称、客户电话、联系人姓名、联系人手机中搜索到最相关的客户</p>
		</div>
	</div>
</div>